*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #E5E5E5;
}


.upper-part{
    height: 260px;
    background: linear-gradient(274.83deg, #5DB0DF 0.58%, #5D7ADF 74.3%);
}
ul{
    list-style:none;
    display: flex;
    gap: 50px;
}

.upper-part nav{
    width: 1143px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
.dream-div{
    color: #FFFFFF;
    margin: 40px 125px;
}
.lower-part{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-gap:50px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.lower-div{
    height: 200px;
    width: 560px;
    left: 737px;
    top: 915px;
    border-radius: 8px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* position: absolute; */
}
.img{
    width: 150px;
    height: 150px;
    left: 175px;
    top: 478px;
    background: #C4C4C4;
    border-radius: 16px;
}

.lower-details{
    width: 336px;
    text-align: left;
}

.lower-details button{
    outline: none;
    margin: 8px;
    width: 120px;
    height: 40px;
    left: 559px;
    top: 598px;
    font-style: normal;
    font-weight: 600;
    color: #F07987;
    border: 2px solid #F07987;
    border-radius: 8px;
    background: #FFFFFF;
    float: right;
}

.lower-details h1{
    font-size: 24px;
}
.lower-details p{
    line-height: 21px;
    font-size: 14px;
}

@media only screen and (max-width: 1120px) {

    .lower-part{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        grid-gap:20px;
        justify-content: center;
        margin-top: 50px;
    }
}
